li {
  list-style: none;
}

.good-tab-info {
  width: 100%;
  min-height: 100px;
}

#my-carousel {
  margin-top:50px;
}

.g-price {
  font-size: 18px;
  font-weight: bold;
}

.top-50 {
  margin-top: 50px;
}

.wrapper {
  margin: auto;
}

.block-wrapper-10 {
  margin: 10px;
  padding: 10px;
}

.sub-wrapper {
  padding: 0px 15px;
  width: 100%;
}

.padding-20 {
  padding: 20px;
}

#site-logo {

}

#header-info {
  width: auto;
  height: auto;
  padding: 10px 0px;
}

.carousel-control .left {
  
}

.rounded {
 border-radius: 5px;
}

#why-us, #how, #buy, #process {
  background-color: white;
  text-align: center;
}

i.professional {
  width: 95px;
  height: 95px;
  background: url(../imgs/carousel/img-sprite.png) no-repeat -11px -145px;
  display: inline-block;
}

i.reliable {
  width: 95px;
  height: 95px;
  background: url(../imgs/carousel/img-sprite.png) no-repeat -225px -145px;   
  display: inline-block;
}

i.personal {
  width: 95px;
  height: 95px;
  background: url(../imgs/carousel/img-sprite.png) no-repeat -118px -145px;   
  display: inline-block;
  vertical-align: center;
}

.footer {
  padding-top:30px;

}

.footer-top {
  text-align:center;
}

.t-center {
  text-align: center;
}

#login-box {
  margin-top: 50px;
}

.good-item {
  background: white;
}

.good-img {
  width: 100%;
}

.footer-link a {
  color: #333333;
  padding: 0px 10px;
}

.footer-link a:hover {
  color: #666666;
  font-size: 16px;
  text-decoration: none;
}

.process-img {
  padding: 5px;
  width: 50px;
}

.good-nav {
  font-family: 微软雅黑;
}

.good-nav > li > a {
  font-size: 18px;
  color: #aaa;
}

.good-nav > li > a:hover {
  color: #fff;
  font-weight: bold;
}

#b-top {
  position:fixed;
  display:none;
  top: 70%;
  right: 5%;
  width: 25px;
  padding: 5px;
  border-radius: 2px;
  background: #ffffff;
  font-family: 微软雅黑;
  text-align: center;
}

#b-top a {
  color: #666666;
  text-decoration: none;
}

.banner-btn {
    
}

.profile-menu li a {
  color: #666666;
  font-family: 微软雅黑;
  text-align: center;
  font-size: 16px;
}

.profile-menu li.active {
  background: white;
  color: #333;
}

.profile-wrapper {
  padding: 20px 0px;
}

.btn-right {
  float: right;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
}

.top-100 {
  margin-top: 100px;
}

.container {
  /*padding: 0;*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  
}

.bk-red {
  background-color: red;
  display:block;
}

.profile-wrapper {
  border: 1px solid #dddddd;
  border-radius: 4px;
  min-height: 400px;
  margin: 0px;
  padding: 5px;
}

li.media {
  background: white;
  padding: 5px;
  margin: 5px 0px;
}

.media-body {
  width: 80%;
  text-align: left;
}

.media-right {
  padding: 0 10px;
}

.in-line {
  display: inline;

}

.foot-bar {
  width: 100%;
  background: #eee;
  margin-top: 50px;
  bottom: 0px;
}

.footer-bottom {
  padding: 10px 15% 20px 15%;
}

.box {
  width: 100%;
  margin: 10px 0px;
  padding: 15px 0px;
  border-width: 1px;
  border-radius: 4px;
  border:1px solid rgba(0,0,0,.15);
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  /*-webkit-padding-start: 0px;*/
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

}

ul.dropdown-menu {
  pacity: 0.8;  
  opacity:.80;  
  filter: alpha(opacity=80);
}

.gray-light {
  background: #eee;
}

.tab-banner {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.tab-content {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.require {
  color: red;
}

.padding-5 {
  padding: 10px 5px;
}

.edit-info {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  display: none;
}

.person-info {
  width: 100%;

}

.form-img-upload {
  min-height: 30px;
  border-radius: 5px;
  background-color: #eee;
}

.upload-img {
  
}

.hide {
  display: none;
}


.width-60 {
  width: 60%;
}

#comment {
  min-height: 160px;
}

#customer-info, #car-info, #quan {
  padding-bottom: 0px;
}

.width-50 {
  width: 50%;
}

#addr {
  width: 450px;
}

.footer-link {
  width: 100%;
}

.footer-link div {
  padding: 0px 1px;
  border-right: 1px solid #ccc;
}

.footer-link a {
  padding: 0px 1px;
}

.contact-icon {
  width: 18px;
}

#order-info, #deliver {
  padding-top: 0px;
  padding-bottom: 0px;
}

.block-head {
  width: 100%;
  padding: 5px 20px;
  background: #eee;
}

.block-body {
  width: 100%;
  padding: 20px;
}

.v-middle {
  padding: 20px 5px;
}

.line-info {
  padding: 0px 10px;
}

#next-step {
  padding-left: 0px;
}

.content-body {
  height: 100%;
}


@media (min-width: 1200px) {
  .container {
    width: 1000px; 
  }
  
}

@media (min-width: 1600px)  {
  .container {
    width: 1280px;  
  }
}


.banner-img {
  width: 100%;
  margin: 0px;
  padding: 0px; 
}

ul.process {
  padding: 0px 10%;
  display: block;
  
}

.process-line {
  background: #31b0d5;
  height: 5px;
  width: 36%;
  margin: 30px 0px;
}

#process-bar {
  margin: 0px 0px 50px 0px;
  text-align: center;
} 
#process-bar li {
  list-style: none; 
  float: left;
}

#process-bar i {
  display: block;
  background-color: #ccc;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .p-i-img {
    width: 48px;
  }

  .process-line {
    margin: 25px 0;
  }

}

@media (max-width: 768px) {
  .p-i-img {
    width: 36px;
  }

  .process-line {
    margin: 15px 0;
  }

}

@media (max-width: 580px) {
  .p-i-img {
    width: 28px;
  }

  .process-line {
    margin: 12px 0;
  }

}

@media (max-width: 480px) {
  .p-i-img {
  
   }

   .process-line {
     margin: 10px 0; 
   }

}

.padding-top-3 {
  padding-top: 3px;
}

.none-border {
  border: 0px;
}

.info {
  font-size: 16px;
  font-color: #999;
  font-weight: bold;
}

.width-100 {
  width: 100%;
}

.t-left {
  text-align: left;
}

div.quan-itm {
  width: 120px;
  border-radius: 4px;
  background: #facc00;
  cursor: pointer;
  padding: 10px;
}

.quan-list {
  text-align: center;
  padding: 10px;
}

.quan-list > li {
  padding: 0px 30px;
}

.good-info-desc {
  padding: 10px 30px;
  font-family: 微软雅黑;
}

/*
 * animation three bounce
 */
.sk-three-bounce {
  margin: 15px auto;
  width: 60px;
  text-align: center;
}

.sk-three-bounce .sk-child {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out both;
  animation: sk-threeBounceDelay 1.4s infinite ease-in-out both;
}

.sk-bounce1 {
  background: #fcf8e3;
}

.sk-bounce2 {
  background: #dff0d8;
}

.sk-bounce3 {
  background: #31b0d5;
}

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-threeBounceDelay {

  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform : scale(1);
    transform: scale(1);
  }

}


@keyframes sk-threeBounceDelay {

  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform : scale(1);
    transform: scale(1);
  }

}

.r-trans {
transition: width 1s, height 1s;
-moz-transition: width 1s, height 1s, -moz-transform 1s;
-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
-o-transition: width1s, height 1s, -moz-transform 1s;
}

.r-trans:hover {
transform:rotate(330deg);
-moz-transform:rotate(330deg); /* Firefox 4 */
-webkit-transform:rotate(330deg); /* Safari and Chrome */
-o-transform:rotate(330deg); /* Opera */
}

#g-num {

  width: 50px;

}

.login-panel {
  padding-top: 0px;
  min-height: 360px;
}

.login-panel > div.panel-heading {
  text-align: center;
  font-size: 18px;
}

.login-intro {
  min-height: 360px;
  background: #d9edf7;
}

.navbar-default {
  border: 0px;
  background: #d9edf7;
}

.bottom-0 {
  bottom: 0px;
}

.height-100 {
  height: 100%;
}

.side-menu {
  border: 0px 1px 0px 0px #eee;
  padding: 20px 0px; 
  height: 100%;
  width: 100%;
}

.p-wrapper {
  min-height: 400px;
  border: 1px 0 0 0 solid #eee;
}

.side-nav > li {
  font-size: 20px;
  text-align: center;
}

.head-50 {
  border-bottom: 1px solid #eee;
  height: 50px;
  margin: 0 5px;
  padding: 0;
  width: 100%;
}
